header {
	height: 42px;
	margin-top: -7px;
}
nav {
	@media (max-width: 575.98px) {
		margin: 0px 0px 0 16px;
	}
}
.collapse {
	padding-left: 111px;
}
.header__logo {
	margin: 0px 15px 0 45px;
	@media (max-width: 575.98px) {
		margin: 0px 5px 0 0px;
	}
}
.navbar-light .navbar-nav .nav-link {
	&:hover {
		color: #2e75ff;
	}
}
.nav-item {
	margin-left: 13px;
	// padding: 4px 15px;
	& a {
		&:hover {
			box-shadow: 0 0 2px 2px #eaedf5 inset;
			border-radius: 8px;
			box-sizing: border-box;
		}
	}
}
