header {
	height: 42px;
	margin-top: -7px;
}

.collapse {
	padding-left: 111px;
}
.header__logo {
	margin: 0px 0 0 45px;
}
.nav-item {
	margin-left: 13px;

	&:hover {
		border: solid 2px #eaedf5;
		border-radius: 8px;
		box-sizing: border-box;
		padding: 4px 15px;
	}
}
// .nav-link:hover {
// 	display: inline-block;
// 	color: #2e75ff;
// }
.navbar-nav {
	color: red;
}

// .navbar-nav {
// 	display: flex;
// 	justify-content: space-between;
// }
// header {
// 	height: 42px;
// 	.container {
// 		display: flex;
// 		justify-content: space-around;
// 		align-items: baseline;
// 	}
//
// 	nav {
// 		width: 80%;
// 		padding: 7.5px 0 0 30px;
// 	}
// 	.menu {
// 		display: flex;
// 		justify-content: space-around;
// 		&__item:hover {
// 			border: solid 2px #eaedf5;
// 			border-radius: 8px;
// 			box-sizing: border-box;
// 			padding: 4px 15px;
// 		}
// 		&__item {
// 			& a {
// 				color: $text_color-gray;
// 				&:hover {
// 					color: #2e75ff;
// 				}
// 			}

// 			&-drop {
// 				margin-right: -25px;
// 				padding: 0 14px;
// 				:last-child {
// 					margin-right: 10px;
// 				}
// 			}
// 			&-arrow {
// 				margin-left: 10px;
// 			}
// 		}
// 	}
// }
