.kontakts {
	background-color: aquamarine;
	padding: 73px 0 77px 0;
	&__title {
		color: $primary_color;
		font-size: 2rem;
		white-space: nowrap;
		letter-spacing: -0.4px;
		margin: 10px 0 0 0;
	}
	&__descriptions {
		letter-spacing: -0.4px;
		font-weight: 600;
		line-height: 32px;
		& p {
			max-width: 420px;
			margin: 0;
			padding-bottom: 2rem;
		}
	}
	&__button {
		width: 306px;
		background: linear-gradient(#0c5cd6 100%, rgba(0, 56, 140, 0) 0%);
		color: $white-color;
		font-size: 1.05rem;
		line-height: 26px;
		border-radius: 4px;
		padding: 21px 10px;
		box-shadow: 0px, 1px rgba(48, 67, 133, 0.5);
	}
}

.button__wrapper {
	cursor: pointer;
	position: relative;
	width: 80px;
	height: 50px;
	margin: 20px;
	&:hover {
		animation: button__wrapper 1s linear infinite;
	}
	& div {
		position: relative;
		top: 40px;
		width: 79px;
		height: 2px;
		background-color: $white-color;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
		left: 0;
		display: block;
		&::after {
			content: "";
			position: absolute;
			width: 15px;
			height: 2px;
			top: -5px;
			right: -3px;
			background-color: $white-color;
			transform: rotate(45deg);
		}
		&::before {
			content: "";
			position: absolute;
			width: 15px;
			height: 2px;
			top: 5px;
			right: -3px;
			background-color: $white-color;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
			transform: rotate(-45deg);
		}
	}
}
@keyframes button__wrapper {
	0% {
		left: 0;
	}
	50% {
		left: 10px;
	}
	100% {
		left: 0;
	}
}
