.specialization {
	padding: 91px 0 0 0;
	@media (max-width: 575.98px) {
		padding: 0;
	}

	&__title {
		font-size: 1.17rem;
		text-transform: uppercase;
		max-width: 426px;
		font-weight: 700;
		padding-bottom: 21px;
		letter-spacing: 2.5px;
	}
	& p {
		max-width: 556px;
		padding-bottom: 15px;
		margin: 0;
		& span {
			@media (max-width: 575.98px) {
				font-style: italic;
			}
		}
		@media (max-width: 575.98px) {
			max-width: 343px;
			line-height: 1.88rem;
		}
	}
}
.container__one {
	position: relative;
}
