$font_primary: "Noto Sans";
$font_article: "Public Sans";
$font_size_normal: 17px;
$font_size_large: 25px;
$primary_color: #1652ac;
$secondary_color: #fbfdff;
$text_color-gray: #45494f;
$text_color-black: #020303;
$bg_color: #fbfbfc;
$bg_color-light: #e5e5e5;
