@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Public+Sans:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #45494f;
  font-size: 17px;
}

h1,
h2,
h3,
h4 {
  color: #1652ac;
  font-family: "Public Sans";
  font-weight: 700;
}

h1 {
  font-size: 2.82rem;
  padding: 69px 0 35px 0;
  line-height: 4.39rem;
  letter-spacing: 1.2px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 300px;
  }
}

h2 {
  font-size: 1.17rem;
  line-height: 200%;
  letter-spacing: 2.4px;
  padding: 33px 0 18px 0;
}

h3 {
  font-size: 1.17rem;
  color: #ffffff;
  letter-spacing: 2.4px;
  text-align: left;
  margin: 10px 0 30px 35px;
}

h4 {
  letter-spacing: 2.4px;
  font-size: 1.64rem;
  padding-bottom: 42px;
  color: #020303;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.gray-line {
  width: 227px;
  height: 7px;
  background-color: #edeff3;
}

header {
  height: 42px;
  margin-top: -7px;
}

.collapse {
  padding-left: 111px;
}

.header__logo {
  margin: 0px 0 0 45px;
}

.nav-item {
  margin-left: 13px;
}

.nav-item:hover {
  border: solid 2px #eaedf5;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 15px;
}

.navbar-nav {
  color: red;
}

main {
  background-color: #ffffff;
  margin: 23px 0 0 95px;
}

.main__description {
  padding: 52px 0 60px 4px;
  line-height: 190%;
  font-weight: 600;
  max-width: 500px;
  letter-spacing: -0.6px;
}

.main__img {
  padding-top: 30px;
}

p {
  max-width: 477px;
  margin-left: 15px;
  line-height: 190%;
}

p.fokus {
  padding-top: 15px;
}

.standarts {
  margin: 110px 0 0 0;
}

.standarts__image {
  background-image: url("../images/asv4.jpg");
  background-size: cover;
  height: 728px;
}

.standarts__text {
  background: -webkit-gradient(linear, left top, left bottom, from(#163da2), to(#003584));
  background: linear-gradient(180deg, #163da2 0%, #003584 100%);
  height: auto;
  color: #ffffff;
  padding: 151px 20px 120px 119px;
}

.standarts p {
  max-width: 496px;
  padding-bottom: 16px;
  margin-left: 35px;
}

.specialization {
  padding: 91px 0 0 0;
}

.specialization__title {
  font-size: 1.17rem;
  text-transform: uppercase;
  max-width: 426px;
  font-weight: 700;
  padding-bottom: 21px;
  letter-spacing: 2.5px;
}

.specialization p {
  max-width: 556px;
  padding-bottom: 15px;
  margin: 0;
}

.vorteile {
  padding: 67px 0 0 0;
  background-color: #fbfbfc;
}

.vorteile__items {
  width: 394px;
  height: 136px;
  border-radius: 4px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin: 4.5px;
  padding: 25px 0 57px 40px;
  -webkit-box-shadow: offset 0 1 rgba(0, 0, 0, 0.15);
          box-shadow: offset 0 1 rgba(0, 0, 0, 0.15);
}

@media (max-width: 576px) {
  .vorteile__items {
    width: 358px;
  }
}

@media (max-width: 992px) {
  .vorteile.row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.vorteile__icon {
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.vorteile__text {
  margin-left: 35px;
}
